@import "mixins";
@import 'https://fonts.googleapis.com/css?family=Ubuntu';

$primario: #F5F5F5;
$secundario: #001F3F;
$color1: #0413AD;
$color2: #6771D1;
$color3: #1B95E0;
$color4: #E57F31;
$color5: #AD3404;
$color-links: #39CCCC;

$fuente-base: 'Ubuntu', sans-serif;

body {
  @include display-flex;
  background: $primario;
  display: flex;
  flex-wrap: wrap;
  font-family: $fuente-base;
  margin: 0;
  min-height: 100vh;
  padding: 0;
}

footer {
  align-self: flex-end;
  background: $secundario;
  color: $primario;
  padding: .8em;
  text-align: center;
  width: 100%;
}

.contenedor {
  margin-bottom: 3em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  width: 75%;

  header {
    margin: 50px auto;
    text-align: center;
      .encabezado {
        background: #AAA;
        box-shadow: 0 20px 20px -12px #000;
        color: $primario;
        display: inline-block;
        font-weight: normal;
        font-size: 2em;
        padding: 30px 50px;
        @include border-radius(50px);
      }
    }
    .sub-contenedor {
        &:nth-last-child(1) {
        border-bottom: 2px solid $secundario;
      }
    }
    .fila {
      @include display-flex;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
      margin: 1em 0;
      .encabezado-columna {
        border-bottom: 2px solid $secundario;
        color: $secundario;
        text-align: center;
        width: 30%;
      }
      .columna-texto {
        color: #AAA;
        font-weight: bold;
        text-align: center;
        width: 30%;
        @media screen and (max-width: 480px) {
            font-size: .7em;
        }
      }

      .columna-color {
        width: 30%;
        @include display-flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
      }
    }
  }

  .item {
    box-shadow: 0 2px 1px #333;
    height: 2.5em;
    width: 12.5em;
    @include border-radius;
  }
  .color1 {
    background: $color1;
  }

  .color2 {
    background: $color2;
  }

  .color3 {
    background: $color3;
  }

  .color4 {
    background: $color4;
  }

  .color5 {
    background: $color5;
  }

  .color6 {
    background: #39CCCC;
  }
