doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        title Paleta de colores
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet")
        link(rel="stylesheet" href="css/styles.css")
    body
        .contenedor
            header
                h2(class="encabezado") Paleta de Colores
            .sub-contenedor
              .fila
                .encabezado-columna
                  h4 Color
                .encabezado-columna
                  h4 # HEX
                .encabezado-columna
                  h4 Nombre
              .fila
                .columna-color
                  .item.color1
                .columna-texto
                  h4  #191EFF
                .columna-texto
                  h4 Primario
              .fila
                .columna-color
                  .item.color2
                .columna-texto
                  h4  #292A66
                .columna-texto
                  h4 Secundario
              .fila
                .columna-color
                  .item.color3
                .columna-texto
                  h4  #006FCC
                .columna-texto
                  h4 Primario Light
              .fila
                .columna-color
                  .item.color4
                .columna-texto
                  h4  #D28035
                .columna-texto
                  h4 Complementario 1
              .fila
                .columna-color
                  .item.color5
                .columna-texto
                  h4  #FF6519
                .columna-texto
                  h4 Complementario 2
              .fila
                .columna-color
                  .item.color6
                .columna-texto
                  h4  #39CCCC
                .columna-texto
                  h4 Links
        footer 
            small Sergio Díez de Pedro || 2018-2024
